@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE cshtml>
<cshtml lang="en">
<body>
<div class="text-right">
    <h1 class="display-4"></h1>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
    <div>
    <button class="button" onclick="location.href='/Votante'">VOTANTE</button>
    <button class="button2" onclick="location.href='/Administrador'">ADMINISTRADOR</button>
    </div>
</div>
</body>
</cshtml>

