@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-right">
    <h1 class="display-4"></h1>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
    <p style=" font-size=30pt "  ></p>AQUI IRIA LA FECHA</p>
</div>
